@using PortfolioBlazorServer.Data

<div class="project-card">
    <div class="card-content">
        <h3 class="project-title">@Project.Name</h3>
        <p class="project-description">@Project.Description</p>
        @if (!string.IsNullOrWhiteSpace(Project.TechStack))
        {
            var techStack = Project.TechStack.Split(", ");
            <div class="project-tags">
                @foreach (var tech in techStack)
                {
                    <span class="tag">@tech</span>
                }
            </div>
        }
        <div class="card-footer">
            @if (!string.IsNullOrEmpty(Project.DemoLink))
            {
                <a href="@Project.DemoLink" class="card-link" target="_blank">Demo</a>
            }
            @if (!string.IsNullOrEmpty(Project.GithubLink))
            {
                <a href="@Project.GithubLink" class="card-link" target="_blank">GitHub</a>
            }
        </div>
    </div>
</div>

@code {
    [Parameter]
    public Project Project { get; set; } = null!;
}